@use "./variable" as *;

@mixin button-styles($padding, $span-padding) {
  display: inline-block;
  background-color: $colorStyleJambo;
  color: white;
  padding: $padding;
  border-radius: 10px;
  border: none;

  &:hover {
    cursor: pointer;
    background-color: $colorStyleJambo;
  }

  &:hover span {
    padding: $span-padding;
    border-radius: 30px;
    background-color: $colorStyleJamboHover;
  }

  span {
    padding: $span-padding;
    border-radius: 30px;
    background-color: $colorStyleJambo;
  }
}
